#encoding: utf-8
<% provide(:title, "关于") %>
<div class="center hero-unit">
<p>who am I?</p>
<p>I am jiffies, a rubist</p>
<%= link_to "猛戳这里", '#', class:"btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("about.png"), "http://localhost:3000" %>
