
 <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "BBBlog", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "关于",    about_path %></li>
              <li><%= link_to "登录", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
